2.Prompts/Gemma/dynamic_prompt.json
{
  "name": "My workflow 5",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "1a46e302-49b1-4f61-95d2-cc6cc98e1553",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n \"topic\": \"vector databases\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "694fd5be-0b5d-4429-aa22-8548f14ddcc0",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemma-3-4b-it",
          "mode": "list",
          "cachedResultName": "models/gemma-3-4b-it"
        },
        "messages": {
          "values": [
            {
              "content": "=Explain {{$json.topic}} in simple terms."
            },
            {}
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        416,
        0
      ],
      "id": "d90f8378-3f5c-4a79-be86-4fc7a5adf7de",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "MzjykkDm10CYBgi9",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "3b1ffcfa-9c7d-49e5-8e71-5fcc577be96f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "eabb7d5c912e4d8263bd972f91daa3d1abca4cf2967642089cba83deb7b64100"
  },
  "id": "KT5FDZPWeFYRM-uU3dp5m",
  "tags": []
}